
html{
  background-color: #fff!important;
}
body{
background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.section-1{
  position: relative;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.start:hover{
  
}
.edd-icon{
  margin-top: 10px;
}
.main-banner{
  display: block;
  margin-left: auto;
  width: 1200px;
  height: 515px;
  margin-right: auto;
  position: initial;
}
.figure a{
  text-decoration: none;
    font-size: 17px;
    color: white;
    font-family: "BPG Nino Medium Caps", sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    
}
.figure2 h1{
  text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: "BPG Ingiri", sans-serif;
    margin-left: 570px;
    margin-top: 15px;
    display: inline-block;
    
}

.class1{
    margin-left: 501px;
    text-align: right;
}
.down-arrow{
  
  margin-left: 580px;
  margin-top: -250px;
  background-color: #333;
  width: 100px;
  height: 50px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.arrow{
  margin-top: 10px;
}
.section-2{
  display: block;
  width: 1200px;
  height: 900px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  
}
.main-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.div-1{
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  background-color: #222222a3;
}
.div-1:hover{
  -webkit-box-shadow: 2px -1px 63px 19px rgba(255,255,255,1);
-moz-box-shadow: 2px -1px 63px 19px rgba(255,255,255,1);
box-shadow: 2px -1px 63px 19px rgba(255,255,255,1);
}
.div-2{
  width: 500px;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  
}
.div-3{
  width: 500px;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  
}
.div-4{
  width: 500px;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  
}

.div-1 h1{
  text-align: left;
  color: #fff;
  margin-left: 10px;
  font-size: 25px;
  margin-top: 10px;
  font-family: "BPG Nino Medium Caps", sans-serif;
}
.icon1{
  margin-left: 350px;
  margin-top: -30px;
}
.icon2{
  margin-left: 10px;
}
.div-1 a{
  text-decoration: none;
  display: list-item;
  text-align: left;
  color: #fff;
  margin-left: 30px;
  font-size: 20px;
  margin-top: 20px;
  line-height: ;
  font-family: "BPG Ingiri", sans-serif;
  
}
.div-1 a:hover{
    color: #fff;
    text-decoration: underline;
    border-radius: 5px;
    
    
 }
 .class-img3{
  position: absolute;
  top: 20px;
  left: 40px;
  width: 260px;
    background-color: #fff;
    border-bottom-right-radius: 140px;
    border-bottom-left-radius: 140px;
 }
 .class1 a:hover{
  
  color: #ff99cc
 }

 .class1 a{
  color: #ffffff
 }
 .class-a3{
  margin-left: 550px;
  color:#fff;
 }
 .class-a3:hover{
  line-height: 15px;
 }
 .header-text{
  list-style: none;
  margin:35px;
  background:-webkit-linear-gradient(298deg, #33334d

 60%, #333
 60%);
  background:-o-linear-gradient(298deg, #33334d

 60%, #333
 60%);
      background: linear-gradient(152deg, #990099 60%, rgba(0,0,0,0.2) 60%);

  padding: 7px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;

 }
 .header-text:hover{
  list-style: none;
  background:-webkit-linear-gradient(298deg, #330066
 60%, #990099
 60%);
  background:-o-linear-gradient(298deg, #330066
 60%, #990099
 60%);
  background:linear-gradient(152deg, #330066
 60%, #990099
 60%);
    border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
 }
/*flag start*/
* {

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}







#slideshow {
  overflow: hidden;
  height: 510px;
  width: 1200px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 4800px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 1200px;
}



.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -1200px;}
  50% {margin-left: -1200px;}
  60% {margin-left: -2400px;}
  70% {margin-left: -2400px;}
  80% {margin-left: -3600px;}
  90% {margin-left: -3600px;}
}

.flag {
  width: 60px;
  height: 176px;
  margin: 0 auto;
  margin-top: -584px;
  padding-top: 10px;
  margin-left: 1108px;
  position: absolute; 
 
  
  color: white;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color:  #33334d

;

}
.taqtiqal{
  position: relative;
    top: -68px;
    left: 404px;
}
svg{font-weight:bold;max-width:800px;height:auto;
font-family: cursive;}


.flag:after {
  content: ' ';

  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0.5;
  border-bottom: 30px solid  #fff
;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.flag img{
  margin-top: 8px;
}
/*flag over*/
/*banner text start*/
.banner-text{
  padding: 15px;
  position: absolute;
  letter-spacing: 0.07em;
  background: -webkit-linear-gradient(328deg,  #33334d
 60%,  transparent
 60%);
  background: -o-linear-gradient(328deg,  #33334d
 60%,  transparent
 60%);
  background: linear-gradient(122deg,  #33334d
 60%,  transparent
 60%);
  line-height: 35px;
  text-align: left;
  border-radius: 40px;
  width: 500px;
  margin-top: -418px;
  margin-left: 354px;
  color: white;
  font-size: 28px;
  font-family: "ALK Rounded Mtav Med", sans-serif;
}
/*banner text over*/
/*figure start*/
.figure{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  position: absolute;
  top: 0px;
  height:50px;
  background: -webkit-linear-gradient(330deg,    #33334d


 60%,  #333
 60%);
  background: -o-linear-gradient(330deg,    #33334d


 60%,  #333
 60%);
  background: linear-gradient(120deg,    #33334d


 60%,  #333
 60%);
}
.figure2{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height:50px;
  top: 0px;
  position: relative;
  background: -webkit-linear-gradient(150deg,   #33334d
 60%,  #333
 60%);
  background: -o-linear-gradient(150deg,   #33334d
 60%,  #333
 60%);
  background: linear-gradient(-60deg,   #33334d
 60%,  #333
 60%);
}

/*figure over*/
/*new start*/
.class-a1 {
  font-family: "ALK Rounded Mtav Med", sans-serif;
    line-height: 90px;
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}
.class-a1:hover {
  background: -webkit-linear-gradient(150deg,   #ffffff
 60%,  #ffffff
 60%);
  background: -o-linear-gradient(150deg,   
 60%,  #555895
 60%);
  background: linear-gradient(-60deg,   orange
 60%,  #333
 60%);

}
.class-p1 {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  margin-top: 10px;
  color: #ffffff;

}
.class-p3{
  font-family: "ALK Rounded Mtav Med", sans-serif;
  color: #cccccceb;
}
.class-h11{
  font-family: ALK Rounded Mtav Med, sans-serif;
  font-size: 30px;
  margin-top: 100px;
  color: #fff;
  margin-left: 30px;
}
.class-div1{
  display: block;
  text-align: center;
}
.class-img1{
    width: 327px;
    height: 278px;
    margin-left: 0;
    border-radius: 25px;  border-radius:25px;
}
.class-img2{
  margin-left: 20px;
      width: 303px;
    height: 256px;

  
}
.class-div2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  margin-top: 70px;
}
/*new over*/
/*footer start*/
.section-3{
background: linear-gradient(-60deg,   #22222275   60%,  #333   60%)
  background: -o-linear-gradient(150deg,   
 60%,  #333
 60%);
  background: linear-gradient(-60deg,   #222
 60%,  #333
 60%);  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 500px;

}
.section-3-3{
background: linear-gradient(-60deg,   #22222275   60%,  #333   60%)
  background: -o-linear-gradient(150deg,   
 60%,  #333
 60%);
  background: linear-gradient(-60deg,   #222
 60%,  #333
 60%); 
   width: 100%;
  position: relative;
  margin-top: -55px;
  margin-left: auto;
  margin-right: auto;

}
.section-3-3-1{
background: linear-gradient(-60deg,   #22222275   60%,  #333   60%)
  background: -o-linear-gradient(150deg,   
 60%,  #333
 60%);
  background: linear-gradient(-60deg,   #222
 60%,  #333
 60%); 
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

}
.sec-4{
  display: inline-block;
}
.class-img4{
  top: 80px;
  position:absolute;
  left: 50px;
  background-color: #fff;
  width: 250px;
  border-radius: 5px;
 


}
.class-div3 p{
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 14px;
  font-family: ALK Rounded Mtav Med, sans-serif;
  margin-left: 100px;

}
.class-p2{
  font-family: ALK Rounded Mtav Med, sans-serif;
  color: white;
  margin-left: 200px;

}
.hr222{
  height: 240px;
  position: relative;
  left: 30px; 
  margin-top: -95px;
}
.class-div3 hr{
  margin-top: 80px;
}
.class-div3{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 100px;
}
.class-div4 {
  font-family: ALK Rounded Mtav Med, sans-serif;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  font-size: 15px;
    line-height: 50px;
    margin-left: 367px;
    width: 100px;
}
.class-div4 a{
  color: white;
  text-decoration: none;

}
.up-line{
  width: 10px;
  background-color: white;
  height:100px;
}
.class-div5{
  margin-top: -154px;
  margin-left: 570px;
}
.class-a2{
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 10px;
  font-family: ALK Rounded Mtav Med, sans-serif;

}
.class-div6{
  margin-left: 564px;
  margin-top: 3px;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 200px;
  line-height: 50px;
  font-family: ALK Rounded Mtav Med, sans-serif;
}
.class-div6 a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;

}
.class-img5{
    width: 20px;
    right: 490px;
    top: 77px;
    position: absolute;
}
.class-img5 img{
    padding-top: 20px;
}
/*footer over*/
/*რეკლამა და მარკეტინგი start*/
.block-1 {  
    display: block;
    width: 1200px;
    height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
   position: relative;
}
.hr10{
  color: #cae0e7;
  margin-top: 50px;
}
.box-1 {
    width: 1196px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid #ffffff;
}
.dropbtn {
 
 background-color: transparent;
 font-size: 17px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    text-align: right;
    display: none;
    font-size: 15px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 294px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -300px;
    margin-top: -36px;

}



.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

.left-box a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-weight: bold;
  padding: 0 0 0px 0;
  color: #cccccceb;
  margin-bottom: 12px;
}

.left-box a:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background-color: #333;
  -webkit-transition: all .1s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;  
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.box-1-h1{
  font-family: ALK Rounded Mtav Med, sans-serif;
  color: #fff;
  border:  1px solid #fff;
  width: 100%;
  margin-top: 30px;
  font-size: 30px;
  padding: 20px;
  background-color: #222222ab;
}
.box-1:hover{
  
}
.left-box{
  width:950px;
  height: 110px;
  font-size: 20px;

  padding: 18px;
  font-family: "BPG Ingiri", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

}
.left-box img{
    
    max-height: 140px;
    margin-top: -40px;
   border-radius: 10px;

}
.left-box a{
  margin-left: 20px;
  font-size: 22px;
  margin-top: 20px;
  text-decoration: none;
  color: #cccccceb;
  font-family: "BPG Ingiri", sans-serif;
    
}
.left-box a:hover{
    text-decoration: none;
}
.left-box p{
  font-size: 13px;
  margin-left: 20px;
  margin-top: 25px;
  color: #cccccceb;
  font-family: "BPG Ingiri", sans-serif;

}
.left-box-2{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width:950px;
  height: 160px;
  font-size: 20px;
  
  margin-top: -100px;
}
.left-box-2 p{
    font-family: "BPG Ingiri", sans-serif;
    font-size: 13px;
    padding: 20px;
    width: 910px;
    color: #cccccceb;
    line-height: 15px;

}
.jam{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.left-box-2 map{
   width: 550px;
   height: 140px;
   margin-top: 128px;
   background-color: #555895
}     
.hr12 {
  color: #333;
  margin: 10px;
}
.right-box{
  width:245px;
  height: 263px;
  font-size: 20px;
  margin-left: 38px;
  padding: 18px;
  font-family: "BPG Ingiri", sans-serif;
  display: -ms-inline-grid;
  display: inline-grid;position: absolute;
  margin-top: -122px;

}

.img-box-1{
  margin-top: 15px;
}
.img-box-1 p{
  margin-top: -45px;
  font-size: 11px;
      letter-spacing: 0.09em;
}
.img-box-2{
  margin-right: 18px;
}
.p12{
  margin-left: 38px;
    margin-top: -15px;
    font-size: 17px;
    color: #757982;
  }
  .img-box-3{
    margin-left: 5px;
    margin-top:12px;

  }
  .div231{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .a231{
      font-size: 20px;
    margin-top: 50px;
    background-color: currentColor;
    border-radius: 10px;


  }
  .div231 img{

  }
  
  .top-box{
    margin-top: 50px;
  }
  
.hrs{
  width: 943px;
  margin-left:10px;
  margin-bottom: 15px;

  }.c1{
    background-color: #33334d;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: -15px;
    padding-left: 11px;
    color: #757982;
    text-decoration: none;

  }
  .c1:hover{
    background-color: #333;
    color: #fff;

  }
  .s2:hover{
    background-color: #333;
    color: #fff;
    border-radius: 5px;

  }
/*რეკლამა და მარკეტინგი over*/
/*button visit site*/
/*       Just setting CSS for the page   */

* {
  margin: 0;
  padding: 0;
}

html,
css {
  width: 100%;
  height: 100%;
}

.position {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15%;
}

#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: Raleway;
}

#personal {
  color:white;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}
/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #fff;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
color: #cccccceb;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
  font-family: "BPG Ingiri", sans-serif;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke:#7735df
;
}
/*button visit site over*/

/*SECTION 1 START*/
.section-11-box{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 100px;
}
.section-11-left-box{
  margin-top: -108px;
}
.section-11-left-box h1{
      font-family: "ALK Rounded Mtav Med", sans-serif;

  font-size: 25px;
  color: #fff;
  margin-left: 130px;
  margin-top: 80px;
      background-color: #33333385;
    padding: 23px;
}
.section-11-left-box p {
    color: #fff;
    font-size: 19px;
    margin-top: 10px;
    font-family: "BPG Ingiri", sans-serif;
    line-height: 25px;
    margin-left: 128px;
    margin-top: 25px;
    
}
.section-11-left-box button{
  background-color: #33334d12;
  border-radius: 40px;
    font-family: "BPG Ingiri", sans-serif;
  border:0;
  font-size:15px ;
  color: #ffffff;
  margin-top: 50px;
  margin-left: 130px;
  padding: 20px;
  width: 221px;
  border:1px solid #fff;
}
.section-11-left-box button:hover{
  -webkit-box-shadow: 2px -1px 63px 19px rgba(255,255,255,1);
-moz-box-shadow: 2px -1px 63px 19px rgba(255,255,255,1);
box-shadow: 2px -1px 63px 19px rgba(255,255,255,1);
}
.section-11-right-box{
  margin-left: -300px;
  margin-top: -50px;
}
.section-11-right-box   {
}
/*SECTION 1 OVER*/
/*SECTION 2 START*/
.class-a9{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

/*section slider start*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  } 
}
.sslider {
      background-color: transparent;
    height: 162px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 20px;

}
.sslider::before, .sslider::after {
  content: "";
  height: 162px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.sslider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.sslider::before {
  left: 0;
  top: 0;
}
.sslider .sslide-track {
  animation: scroll 14s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.sslider .sslide {
      height: 277px;
    width: 100%;
}
.sslide img:hover{
-webkit-box-shadow: -1px -2px 52px 0px rgba(255,255,255,1);
-moz-box-shadow: -1px -2px 52px 0px rgba(255,255,255,1);
box-shadow: -1px -2px 52px 0px rgba(255,255,255,1);
}
.sslide img{
  max-height: 140px;
    margin-top: 10px;
    border-radius: 10px;


}
.sslide{

  margin-left: 150px;
}
.section-slider h1{
  color: #ffffff;
    font-size: 25px;
    font-family: "BPG Nino Medium Caps", sans-serif;
    text-align: left;
    margin-top: 0px;
    margin-left: 20o;
    padding-left: 71px;
    background: linear-gradient(60deg, #2222229e 60%, #990099 60%);
    height: 50px;
    padding-top: 14px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/*section slider over*/

/*registartion button start */

.box {
  background-color: #333;
  width: 120px;
  height: 70px;
  border: 2px solid #1abc9c;
  margin: auto auto;
  top:3480px;
  color: #fff;
  bottom:50px;
  right:0;
  left:0;
  padding-top: 20px;
  position: absolute;
  border-radius: 15%;
  transition: all .3s ease;
  -webkit-animation: hover-out 790ms linear both;
  animation: hover-out 790ms linear both;
  cursor: pointer;
  font-family: ALK Rounded Mtav Med, sans-serif;
  font-size: 25px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3), inset 0px 2px 0px rgba(255,255,255,0.6);
}


.box:hover {
  -webkit-animation: hover-in 790ms linear both;
  animation: hover-in 790ms linear both;
  background-color: transparent;
  border-radius: 20%;
  box-shadow: none;
}

@-webkit-keyframes hover-in { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(-1.508, -0.136, 0, 0, 0.136, -1.508, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-1.508, -0.136, 0, 0, 0.136, -1.508, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(1.358, -1.298, 0, 0, 1.298, 1.358, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.358, -1.298, 0, 0, 1.298, 1.358, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(1.943, 0.662, 0, 0, -0.662, 1.943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.943, 0.662, 0, 0, -0.662, 1.943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(1.744, 1.158, 0, 0, -1.158, 1.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.744, 1.158, 0, 0, -1.158, 1.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(2.004, 0.261, 0, 0, -0.261, 2.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.004, 0.261, 0, 0, -0.261, 2.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(1.992, -0.078, 0, 0, 0.078, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.992, -0.078, 0, 0, 0.078, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(2, 0.005, 0, 0, -0.005, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0.005, 0, 0, -0.005, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes hover-in { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(-1.508, -0.136, 0, 0, 0.136, -1.508, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-1.508, -0.136, 0, 0, 0.136, -1.508, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(1.358, -1.298, 0, 0, 1.298, 1.358, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.358, -1.298, 0, 0, 1.298, 1.358, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(1.943, 0.662, 0, 0, -0.662, 1.943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.943, 0.662, 0, 0, -0.662, 1.943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(1.744, 1.158, 0, 0, -1.158, 1.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.744, 1.158, 0, 0, -1.158, 1.744, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(2.004, 0.261, 0, 0, -0.261, 2.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.004, 0.261, 0, 0, -0.261, 2.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(1.992, -0.078, 0, 0, 0.078, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.992, -0.078, 0, 0, 0.078, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(2, 0.005, 0, 0, -0.005, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0.005, 0, 0, -0.005, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@-webkit-keyframes hover-out { 
  0% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(-1.48, 0.133, 0, 0, -0.133, -1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-1.48, 0.133, 0, 0, -0.133, -1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(0.811, 0.775, 0, 0, -0.775, 0.811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.811, 0.775, 0, 0, -0.775, 0.811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(0.897, -0.306, 0, 0, 0.306, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.897, -0.306, 0, 0, 0.306, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(0.755, -0.502, 0, 0, 0.502, 0.755, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.755, -0.502, 0, 0, 0.502, 0.755, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(0.971, -0.127, 0, 0, 0.127, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, -0.127, 0, 0, 0.127, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(1.005, 0.039, 0, 0, -0.039, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0.039, 0, 0, -0.039, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes hover-out { 
  0% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(-1.48, 0.133, 0, 0, -0.133, -1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-1.48, 0.133, 0, 0, -0.133, -1.48, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(0.811, 0.775, 0, 0, -0.775, 0.811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.811, 0.775, 0, 0, -0.775, 0.811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(0.897, -0.306, 0, 0, 0.306, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.897, -0.306, 0, 0, 0.306, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(0.755, -0.502, 0, 0, 0.502, 0.755, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.755, -0.502, 0, 0, 0.502, 0.755, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(0.971, -0.127, 0, 0, 0.127, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, -0.127, 0, 0, 0.127, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(1.005, 0.039, 0, 0, -0.039, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.005, 0.039, 0, 0, -0.039, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


/*registartion button over */
/*contact text start*/

.box3 {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  top: 805px;
  left: 335px;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: .4s;
  text-align: center;
}
.box3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid #fff;
  border-left: 20px solid #fff;
  box-sizing: border-box;
}
.box3:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid #fff;
  border-right: 20px solid #fff;
  box-sizing: border-box;
}
.box3 .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: #fff;
  color: #2C3A47;
}
.box3 .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.box3 .text {
  position: absolute;
  top: 30px;
  left: -50px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: #22222242;
  border-radius: 3px;
  transition: .4s;
}
.box3 .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.box3 .text div {
  position: absolute;
  top: 50%;
  left: -50;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}
.box3 .text div h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.box3 .text div p {
  font-size: 15px;
}
.box3:hover {
  transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}
.box3:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}


/*contact text over*/
.disk{
  margin-top: 450px;
  display: inline-flex
  margin-left:40px;

}


@import "https://fonts.googleapis.com/css?family=Megrim";
.wrapper {
  background: linear-gradient(45deg, #d6306d, #fff581);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -100;
  -webkit-perspective: 500px;
          perspective: 500px;
  box-sizing: border-box;
  border: 14px solid white;
}

.floater {
  height: 206px;
    width: 453px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    transition: all 600ms ease;
    margin: 10px;
    -webkit-animation: breathe 3s infinite;
    animation: breathe 3s infinite;
    -webkit-animation-timing-function: easeOutBack;
    animation-timing-function: easeOutBack;
    color: #d73a5f;
    /* font-size: 8rem; */
    flex-direction: column;
    text-align: center;
    /* left: 90px; */
    position: relative;
    left: 394px;
    font-size: -23px;
    top: -162px;
}
.floater .text {
  display: block;
  font-family: Megrim, cursive;
  font-size: 4rem;
  padding-top: .8rem;
  border-top: 2px solid #d6306d;
}
.floater .text:last-child {
  font-size: 5rem;
  margin-top: -.8rem;
  padding-bottom: 1rem;
  border-top: none;
  border-bottom: 2px solid #d6306d;
}
.floater:hover {
  box-shadow: 0px 60px 30px -30px rgba(0, 0, 0, 0.3);
  transition: all 600ms ease;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.floater.right:hover {
  -webkit-transform: rotate3d(-30, 0, -10, 5deg) translate3d(10px, -10px, 20px);
          transform: rotate3d(-30, 0, -10, 5deg) translate3d(10px, -10px, 20px);
}
.floater.left:hover {
  -webkit-transform: rotate3d(30, 0, 10, 5deg) translate3d(-10px, -10px, 20px);
          transform: rotate3d(30, 0, 10, 5deg) translate3d(-10px, -10px, 20px);
}

@-webkit-keyframes breathe {
  0% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: .4;
  }
  50% {
    box-shadow: 0px 60px 30px -30px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
            transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
    opacity: 1;
  }
  100% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: .4;
  }
}

@keyframes breathe {
  0% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: .4;
  }
  50% {
    box-shadow: 0px 60px 30px -30px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
            transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
    opacity: 1;
  }
  100% {
    box-shadow: 0px 13px 30px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
    opacity: .4;
  }
}























































































/*responsive start*/

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .figure {
    
        margin-left: -187px;
    width: 378px;

  }
.disk{
  display: inline-grid;
  margin-left: -40px;
  margin-top: 200px;
}
  .box3{
    display: none;
  }
  .class-h11 {
    font-family: ALK Rounded Mtav Med, sans-serif;
    font-size: 30px;
    margin-top: 126px;
    color: #fff;
    margin-left: -1px;
}
.section-slider h1{
  font-size: 19px;
  width: 100%;
  margin-top: 318px;
}
.section-11-left-box h1 {
    font-family: "ALK Rounded Mtav Med", sans-serif;
    font-size: 25px;
    color: #fff;
    margin-left: 0px;
    margin-top: 80px;
    width: 379px;
    text-align: center;
    background-color: #2222224a;
    height: 100px;
    padding-top: 10px;
}
 .sslider{
  margin-top: 7px;
 }
 .class-img1{
    width: 327px;
    height: 278px;
    margin-left: -5px;
    margin-top: -33px;
    border-radius: 25px;  border-radius:25px;
}
 .section-11-left-box p {
    color: #fff;
    font-size: 17px;
    font-family: "BPG Ingiri", sans-serif;
    line-height: 25px;
    margin-left: 9px;
    margin-top: 25px;
    text-align: center;
}
.section-3-3-1 {
background: linear-gradient(-60deg,   #22222275   60%,  #333   60%)
  background: -o-linear-gradient(150deg,   
 60%,  #333
 60%);
  background: linear-gradient(-60deg,   #222
 60%,  #333
 60%);    width: 376px;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


 .figure a{
    text-decoration: none;
    font-size: 26px;
    color: white;
    font-family: "BPG Nino Medium Caps", sans-serif;
    margin-left: -54px;
    margin-top: 32px;
    display: inline-block;
    color: #fff;
    font-style: bold;
    text-align: center;
    font-weight: bolder;
  }

  .class-img3{
        display: none;
  }

  .banner-text{
    display: none;
  }
  .class1 {
    margin-top: 60px;
    margin-left: 109px;
    text-align: center;
    display: -ms-inline-grid;
    display: inline-grid;
}
.box{
      top: 5090px;

}
  .main-banner{
    display: none;
  }
  .section-2{
    margin-top: 420px;

  }
   .flag{
    display: none;
   }
   .figure2{
    display: none;
   }

   .main-menu{
        width: 370px;

   }
   .section-2{
        margin-top:0px;
    width: 377px;
   }
   .div-1 h1 {
    text-align: left;
    color: #fff;
    margin-left: 0px;
    font-size: 25px;
    margin-top: 10px;
    font-family: "BPG Nino Medium Caps", sans-serif;
}
.div-1 {
    width: 372px;
    height: 400px;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    background-color: #222222a3;
}
  .class-img4{
    left: 62px;
  }
  .div-1 a {
    text-decoration: none;
    display: list-item;
    text-align: left;
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 20px;
    line-height: ;
    font-family: "BPG Ingiri", sans-serif;
    width: 353px;
}
.icon1{
      margin-left: 229px;
    margin-top: -30px;
}
.section-3 {
    margin-top: 1441px;
    width: 377px;
}
.class-p2{
  display: none;
}
.class-div3 p{
  margin-left: 63px;
}

.class-div4 {
    font-family: ALK Rounded Mtav Med, sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 220px;
    font-size: 25px;
    line-height: 50px;
    margin-left: 130px;
    width: 100px;
    text-align: center;
}
.cold{
  display: none;
}
.class-div6 {
    margin-left: 130px;
    margin-top: 183px;
    display: -ms-inline-grid;
    display: inline-grid;
    width: 200px;
    line-height: 50px;
    font-family: ALK Rounded Mtav Med, sans-serif;
}

.class-div2{
  display: -ms-inline-grid;
  display: inline-grid;
}
.class-img2{
  display: none;
}
.class-div1{
    margin-top: -108px;
    text-align: center;
    margin-left: -27px;
    width: 350px;}
.taqtiqal{
          top: -4130px;
    left: 71px;
}

.section-11-box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 500px;
    width: 377px
}
.section-11-right-box img{
position: absolute;
    left: 47px;
    width: 295px;
    top: 338px;
  }
.section-3-3{
  width: 377px;
}
.sec-4 {
    display: inline-block;
    width: 377px;
}
.jott{
  margin-top:450px;
}
.block-1{
  margin-top: 500px;
  width: 377px;

}
.box-1{
  width: 377px;
    height: 548px;
    display: -ms-inline-grid;
    display: inline-grid;
}
.left-box{
  display: -ms-inline-grid;
  display: inline-grid;
  width: 377px;
}
.left-box p {
    font-size: 13px;
    margin-left: 201px;
    margin-top: -25px;
    color: #cccccceb;
    font-family: "BPG Ingiri", sans-serif;
}
.hrs{
  display: none;
}
.left-box a {
    margin-left: 2px;
    font-size: 22px;
    margin-top: 17px;
    text-decoration: none;
    color: #cccccceb;
    font-family: "BPG Ingiri", sans-serif;
}
.hrs {
    width: 353px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.start{
  display: -ms-inline-grid;
  display: inline-grid;
}
.left-box-2 p {
    font-family: "BPG Ingiri", sans-serif;
    font-size: 13px;
    padding: 20px;
    width: 910px;
    color: #cccccceb;
    width: 377px;
    line-height: 15px;
    margin-top: 20px;
}
.left-box-2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -ms-inline-grid;
    display: inline-grid;
    width: 377px;
    height: 160px;
    font-size: 20px;
    margin-top: 121px;
}
.hr222{
  display: none;
}
.right-box {
    width: 245px;
    height: 263px;
    font-size: 20px;
    margin-left: 90px;
    padding: 18px;
    font-family: "BPG Ingiri", sans-serif;
    display: -ms-inline-grid;
    display: inline-grid;
    position: absolute;
    margin-top: 155px;
}
.svg-wrapper {
    margin-top: -50px;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
#slideshow{
  display: none;
}
body{
  width: 377px;
background: #3A1C71;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


}


/*responsive over*/























